button {
    background-color: transparent;
    border: none;
    margin-bottom: 2em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: var(--barlow-font);
    font-size: 16px;
    letter-spacing: 2.7px;
}

/* LAYOUT */

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    margin-bottom: 1em;
}

.nav-left {
    margin-right: auto;
}