img {
    width: 100%;
}

h5 {
    font-family: var(--barlow-font);
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 4.75px;
    color: #fff;
}

h3 {
    font-family: var(--bellefair-font);
    font-size: 56px;
    font-weight: normal;
    color: #fff;
    margin: 0;
}

p {
    font-family: var(--barlow-font);
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.blue-parragraph {
    color: #d0d6f9
}

/* LAYOUT */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#technology {
    width: 45%;
}

#image {
    width: 45%;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 1px solid #979797;
    color: #fff;
    cursor: pointer;
    font-family: var(--bellefair-font);
    font-size: 32px;
    font-weight: normal;    
}

.active {
    color: #000;
    background-color: #fff;
}

section {
    width: 60%;
}

/* EVENTS */

.circle:hover {
    border-color: #fff;
}