/* You can add global styles to this file, and also import other style files */
:root {
    --bellefair-font: 'Bellefair', sans-serif;
    --barlow-font: 'Barlow', sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.subheading {
    font-family: var(--barlow-font);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2.35px;
}
