/* You can add global styles to this file, and also import other style files */
:root {
    --bellefair-font: 'Bellefair', sans-serif;
    --barlow-font: 'Barlow Condesed', sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}