<div class="container">
    <div id="info">
        <header id="title">
            <h5><span class="blue-parragraph">02</span> MEET YOUR CREW</h5>
        </header>
        <section>
            <h4 class="blue-parragraph">{{ data.crew[crewIndex].role }}</h4>
            <h3>{{ data.crew[crewIndex].name }}</h3>
            <p class="blue-parragraph">{{ data.crew[crewIndex].bio }}</p>
        </section>
        <nav>
            <div class="circle" 
                [ngClass]="crewIndex === i ? 'active' : ''"
                (click)="changeCrewMember(i)"
                *ngFor="let crewMember of data.crew; let i = index"></div>
        </nav>        
    </div>  
    <div id="image">
        <img [src]="data.crew[crewIndex].images.png" [alt]="data.crew[crewIndex].name">
    </div>  
</div>
